    .site-footer {

        padding-top: 100px;
        padding-bottom: 150px;
        color: white;
        box-shadow: 0px 0 200px 200px rgba(0, 0, 0, 0.9);

        background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url("../img/4fxxbm4opjd31.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-shadow: 2px 2px 4px #000000;
        
    }

    .firma{
        font-family: 'Carattere' ;
        text-decoration: none;
        font-size: 20px;      
    }