
.card-content{

        background: rgba(0, 0, 0, 0.4);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3.5px);
        border: 1px solid rgba(255, 255, 255, 0.21);
        text-shadow: 2px 2px 4px #000000;
        border-radius: 10px;
   
}

.bgmovieinfo{
        padding-top: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        box-shadow: 0 0 100px 100px rgb(0, 0, 0, 0.5);
        box-shadow: 0px 100px 200px rgb(0, 0, 0, 0.8) inset;
}

.imagedetail{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;

}

.reproductor{
        width: 100%;
        height: 60vh;
}

.modal-content{
        color: white;
        background: rgba(0, 0, 0, 0.9);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3.5px);
        
        text-shadow: 2px 2px 4px #000000;

}
.btn-close {
        background-color: rgb(255, 255, 255) !important;

}





