.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.imgmovie {
  border-radius: 10px;
  height: 300px;
  transition: all 2s ease;
}

.imgmovie:hover {
  background: rgba(0, 0, 0, 0.9);
  transition: all 1s ease;
  opacity: 0.5;
 
 
}

.moviecard {
  height: 300px;
  padding: 0;
  margin: 5px;
  transition: all 2s ease;
  transform: scale(1);
  background-color: rgb(3, 3, 3);
  border-radius: 10px;
}
.moviecard:hover {
  background: rgba(0, 0, 0, 0.9);
  transition: all 1s ease;
  transform: scale(1.2);
  z-index: 100;
}


.hoverText {
  display: none;
  color: white;
}

.hoverText.active {
  display: block;
}

.rank {
  width: 55px;
  height: 55px;
  padding-top: 2px;
  border-radius: 100%;
  font-weight: bold;
  position: relative;
  top: -325px;
  left: -20px;

  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.21);
  text-shadow: 2px 2px 4px #000000;

}

.titlepage{
  position: relative;
  z-index: 10;
  font-family: 'DM Serif Display', serif;
  font-size: 40px;
}




.App-link {
  color: rgb(112, 76, 182);
}

@media (max-width: 640px) {
  .moviecard {
    width: 46%;
    margin-left: auto;
  }
.descriptiontag {
  text-align: left !important;
}

.titlejumbo{
  margin-top: 0px !important;
  padding-top: 0px !important;
}
.home-content{
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

}
